.content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.content-bookmark {
    text-align: center;
}

.content-bookmark-item { 
    padding: 0.15rem 0;
    margin: 0.25rem;
    width: 25px;
    text-align: center;
    background: transparent;
    color: white;
    border: 1px solid rgb(86, 160, 211);
    transition: background 250ms;
    cursor: pointer;
    outline: none;
}

.content-bookmark-item.active {
    background: rgb(86, 160, 211);
}

.content-bookmark-item:hover {
    background: rgb(86, 160, 211);
}

.content-bookmark-item:active {
    background: rgb(44, 83, 109);
}

.content { 
    overflow: auto;
    margin: 0.5rem 0;
}