.button {
    border: 0px solid black;
    margin: 1rem;
}

.directory {
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem; 
    font-weight: bold;
    background: #56a0d3;
    color: #ffffff;
    transition: opacity 250ms;
    cursor: pointer;
    outline: none;
}

.directory:hover {
    opacity: 0.75;
}

.fluid {

}