.action {
    padding: 0.3rem 1rem;
    border: 0;
    color: #ffffff;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.15rem #181818;
    outline: none;
    cursor: pointer;
}

.action:active {
    opacity: 0.6;
}


.remove {
    background: rgb(207, 0, 0);
    border: 1px solid rgb(156, 0, 0);
}

.copy {
    background: none;
    border: 1px solid rgb(26, 127, 194);
    color: rgb(26, 127, 194);
    transition: all 250ms;
}   

.copy:hover {
    border: 1px solid rgb(26, 127, 194);
    color: rgb(255, 255 ,255);
    background: rgb(26, 127, 194);
}