.content-item {
    color: #ffffff;
    text-align: justify;
}

.subheader {
    font-weight: bold;
}

.subheader.one {
    font-size: 2rem;
    color: rgba(16, 196, 0, 0.966);
}

.subheader.two {
    font-size: 1.8rem;
    color: rgb(255, 145, 0);
}

.subheader.three {
    font-size: 1.6rem;
    color: rgb(10, 137, 255);
}

.subheader.four {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: rgb(255, 84, 31);
}

.subheader.five {
    font-size: 1.2rem;    
    color: rgb(155, 233, 253);
}