.option {
    display: flex;
}

.option-status {
    font-weight: bold;
    margin: 0.75rem;
    color: rgb(255, 255, 255);
    transition: color 250ms;
}

.option-status.solved, .option-status.unsolved {
    color: rgb(80, 171, 0);
}