body {
    margin: 0;
}

::-webkit-scrollbar { display: none; }

#container {
    background: #303030;
    border: 1px solid blue;
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    flex-direction: column;
}